.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.settings
.idea
.gradle/
gen
bin
target
build/
/.classpath
/.project
/.idea
*.iml
local.properties
project.properties
proguard/*
